.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo > img{
    width: 170px;
}

.nav-items > ul{
    display: flex;
    margin-right: 50px;
}

.nav-items > ul > li{
    list-style-type: none;
    padding: 24px;
    font-size: 18px;
}

.res-card{
    
    width: 200px;
    background-color: #f0f0f0;
    
    padding: 4px;
    margin: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    /* overflow: hidden; */
}

.res-card:hover{
     box-shadow: 
        0 8px 20px rgba(0,0,0,0.2);
        transform: translateY(-5px);

        background-color: #fff;

}
.res-card > h3{
    margin: 4px 0 ;
}
.res-card > h4{
    margin: 4px 0  ;
}
.card-logo{
    height: 120px;
    width: 100%;
    object-fit: cover;
}



.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter{
     display: flex;
    margin: 4px;
    
    /* font-size: 26px; */
    /* height: 20px; */
}

.filter{
     display: flex;
    margin: 8px;
    
}
.filter > button{
    padding: 10px, 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
}
.filter > button:hover{
   
    cursor: pointer;
    border: 1px solid black;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    
    width: 200px;
    background-color: #f0f0f0;
    height: 350px;
    
    padding: 4px;
    margin: 5px;
    box-sizing: border-box;
   
}

.top-rated-shimmer{
    margin: 5px;
      padding: 4px;
    height: 20px;
    width: 200px;
     background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
}